/* authentication */
.auth-wrap {
    margin-bottom: 20px;

    h1 {
        text-align: center;
        margin-bottom: 36px;
    }

    .btn-fb {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
        margin: 0;
        color: #fff;
        text-align: center;
        text-decoration: none;
        margin-bottom: 8px;
        min-width: 200px;
        padding: 7px 10px;
        border: 1px solid;
        border-radius: 3px;
        border-color: #5072be #4868b1 #365896;
        background: #6281c7;
        background: linear-gradient(to bottom, #8DA4D6 2%, #6281c7 8%, #476ABB 100%);

        &:hover, &:focus, &:active {
            background: #4766BB;
            background: linear-gradient(to bottom, #8DA4D6 2%, #4766BB 8%, #3453AF 100%);
        }
    }
}
