// all in one
@mixin css3($prop, $value) {
    -webkit-#{$prop}: $value;
    -moz-#{$prop}: $value;
    -ms-#{$prop}: $value;
    -o-#{$prop}: $value;
    -webkit-#{$prop}: $value;
}

@mixin screen($max, $width) {
    @media (#{$max}-width : $width) {
        @content;
    }
}

// theme fonts
$bountifl: 'Bountifl';
$fontawesome: 'FontAwesome';
$opensans: 'Open Sans', sans-serif;
$brandaregular: 'banda regular';

$baseFamily: $opensans;

// theme color
$defaultContentBackground: #F5F5F5;
$themeColor: #1B75BB;
$textColor: #6D6E70;

$darkgreyColor: #231F20;

$green: #009345;
$greenlight: #8AC440;

// theme border color
$borderColor: #DFDFE0;/*#919295;*/
$borderColorDark: #AAA;
$activeColor: #EEEEEE;

// bannner
$bannerbg: #F7F9F9;
$rotatingBanner: #fff;


/* default setting */
body {
    font-family: $baseFamily;
    color: $textColor;
    font-size: 15px;
    background: $defaultContentBackground;
}

a {
    color: $themeColor;

    &:hover, &:focus {
        outline: none;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $baseFamily;
    font-weight: 300;
    color: $themeColor;
}

h1 {
    font-size: 48px;
    font-family: $baseFamily;
    margin-bottom: 13px;
    margin-top: 14px;
    line-height: 1.12em;
}

hr {
    height: 1px;
    position: relative;
    background-color: #DADBD6;
}


/* administrator bar - do not remove */
.mi-admin-toolbar {
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid 1px #111;
    background: #ececec;
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fafafa),color-stop(100%,#ececec));
    background-image: -webkit-linear-gradient(top,#fafafa,#ececec);
    background-image: -moz-linear-gradient(top,#fafafa,#ececec);
    background-image: -o-linear-gradient(top,#fafafa,#ececec);
    background-image: linear-gradient(top,#fafafa,#ececec);
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.07);
    border-bottom: 1px solid #ccc;
    color: #999;
    padding: 10px 30px;
    font-size: small;
}


.message-lg {
    font-size: 32px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

/* visibility helpers */
.hidden {
    display: none;
    visibility: hidden;
}

.visible-phone {
    display: none !important;

    @media (max-width:767px) {
        display: inherit !important;
    }
}

.visible-tablet {
    display: none !important;

    @media (min-width:768px) and (max-width:979px) {
        display: inherit !important;
    }
}

.hidden-desktop {
    display: none !important;

    @media (min-width:768px) and (max-width:979px) {
        display: inherit !important;
    }

    @media (max-width:767px) {
        display: inherit !important;
    }
}

.visible-desktop {
    display: inherit !important;

    @media (min-width:768px) and (max-width:979px) {
        display: none !important;
    }

    @media (max-width:767px) {
        display: none !important;
    }
}

.hidden-tablet {
    @media (min-width:768px) and (max-width:979px) {
        display: none !important;
    }
}

.hidden-phone {
    @media (max-width:767px) {
        display: none !important;
    }
}

.visible-print {
    display: none !important;

    @media print {
        display: inherit !important;
    }
}

.baseline {
    float: left;
    position: relative;
    padding-left: 1%;
    padding-right: 1%;
}
/* loop */
@each $i in (0,10,30){
    .ma#{$i}{
        @if $i == 0 {margin: $i !important;}
        @else{margin: $i;}
    }
    .mt#{$i}{
        @if $i == 0 {margin-top: $i !important;}
        @else{margin-top: $i;}
    }
    .mb#{$i}{
        @if $i == 0 {margin-bottom: $i !important;}
        @else{margin-bottom: $i;}
    }
    .pa#{$i}{
        @if $i == 0 {padding: $i !important;}
        @else{padding: $i;}
    }
    .pt#{$i}{
        @if $i == 0 {padding-top: $i !important;}
        @else{padding-top: $i;}
    }
    .pb#{$i}{
        @if $i == 0 {padding-bottom: $i !important;}
        @else{padding-bottom: $i;}
    }
}
/* end loop */

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.uppercase {
    text-transform: uppercase;
}
.letter-spacing {
    letter-spacing: .2em;
}
.centered {
    margin: 0 auto;
}
.reset-lineHeight {
    line-height: 0;
}
.align-middle {
    align-items: center;
    justify-content: center;
    vertical-align: middle !important;
}


/* default border color */
.border-bottom {
    border-bottom: 1px solid $borderColor;
}
.no-border {
	border: none!important;
}

/* Theme button */
.btn-theme {
    background: $themeColor;
    color: #fff;

    &:hover, &:focus {
        color: #fff;
        outline: none;
    }

    &:hover {
        background: darken($themeColor, 5%);
    }
}
.btn-xlg{
    font-size: 24px;
    padding: 22px 30px;
    min-width: 170px;
}


/* footer section */
.footer {
    padding: 25px 0 20px;
    background: #fff;

    h4 {
        margin: 0 0 10px;
        color: #6D6E70;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            line-height: 1;
        }

        a {
            font-size: 12.6px;
        }
    }
}

.footer-bottom {
    font-size: 10px;
    margin-top: 45px;
}

.footer-bottom > div {
    vertical-align: bottom;
}

.footer-left-content {
    padding-top: 30px;

    p {
        margin: 0;
    }

    a {
        margin-left: 15px;
    }
}

.footer-right-content {
    > span {
        float: left;
        border-left: 1px solid $borderColor;
        text-align: center;
    }

    .social-section {
        width: 188px;
        padding-top: 6px;
        padding-bottom: 4px;

        a {
            margin: 0 4px;
        }
    }

    .fblike {
        width: 135px;
        padding-top: 25px;
    }

    .powerby {
        width: 90px;
        text-align: right;
    }
}

.footer {
    @media (max-width: 1200px) {
        .powerby {
            width: 65px;
        }

        .fblike {
            width: 115px;
        }
    }

    @media (max-width: 1023px) {
        .footer-bottom {
            margin-top: 20px;
        }

        .fblike, .social-section {
            display: none;
        }

        .powerby {
            float: right;
        }

        .footer-left-content {
            padding-top: 15px;
        }
    }

    @media (max-width: 1023px) and (min-width: 768px) {
        .newletter-form .form-control {
            font-size: 14px;
        }

        .newletter-form .input-group-btn .btn {
            padding: 6px 10px;
        }

        h4 {
            font-size: 12px;
        }

        .container > .row:first-child {
            margin: 0 -7px;

            > div {
                padding: 0 7px;
            }
        }
    }

    @media (max-width: 767px) {
        ul {
            margin-bottom: 15px;
        }

        .footer-left-content {
            padding-top: 0;
            text-align: center;

            span {
                display: block;
            }
        }

        .footer-bottom {
            font-size: 14px;
        }

        p {
            margin-bottom: 7px;
        }

        .powerby {
            float: none;
            display: block;
            border: none;
            width: auto;
            text-align: center;
        }
    }
}


/* Standard Nav/Header */
.standard-nav{
    padding: 10px 0;
    background: #fff;
    img{
        max-width: 100%;
        height: auto;
    }
    .header-area{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .logo-section{
        float: left;
        width: 230px;
    }
    .hearder-right{
        padding-top: 10px;
        float: right;
        width: 830px;
    }
    .search-form{
        .btn{
            color: #BBBDBF;
            height: 34px;
            line-height: 1;
            border: 1px solid #BBBDBF;
            background: #F5F5F5;
        }
    }
    .join-us-section{
        float: right;
        width: 265px;
        margin-left: 20px;
        padding-top: 6px;
        font-size: 14px;
        a{
            color: inherit;
            padding: 0 7px 0 10px;
            &.active,
            &:hover{
                color: #000;
                text-decoration: none;
            }
        }
        a ~ a{
            border-left: 1px solid #BBBDBF;
        }
        .fa{
            color: #ccc;
            margin-right: 8px;
        }
    }
    .cart-section{
        width: 104px;
        margin-left: 30px;
    }
    .cart-area{
        font-size: 12px;
        line-height: 1.2;
        span{
            display: inline-block;
            vertical-align: top;
            color: #929497;
        }
        .items-qty{
            font-size: 16px;
            color: $darkgreyColor;
            display: block;
        }
        .cart{
            background: $greenlight;
            display: inline-block;
            vertical-align: top;
            width: 35px;
            height: 35px;
            text-align: center;
            padding: 8px 2px 3px;
            margin-left: 9px;
        }
    }
    .navigation-area{
        padding-top: 16px;
        padding-bottom: 12px;
    }
    .navbar-nav > li > a{
        padding: 0;
        font-size: 17px;
        color: #6d6e70;
        letter-spacing: -1px;
    }
    .navbar-nav > li > a:hover,
    .navbar-nav > .active > a{
        color: #000;
    }
    .nav > li{
        margin-right: 11px;
    }
    .nav > li > a:focus,
    .nav > li > a:hover{
        background: none;
    }
    .navbar-collapse{
        padding: 0;
    }
    .navbar-right{
        border-left: 1px solid #BBBDBF;
        width: 108px;
        &.nav > li{
            margin-right: 0;
            margin-left: 13px;
        }
    }
    .currency-selector{
        z-index: 99;
        a{
            color: #4D4D4D;
            &:hover{
                text-decoration: none;
            }
        }
        img{
            margin-right: 7px;
        }
        .fa{
            color: #4D4D4D;
            margin-left: 7px;
        }
    }
    @media (max-width: 1200px){
        .join-us-section{
            padding-left: 0;
            padding-right: 0;
            width: 234px;
        }
        .hearder-right{
            width: 700px;
        }
        .cart-section,
        .hearder-right{
            padding-left: 0;
        }
        .navbar-nav > li > a{
            font-size: 15px;
        }
    }


    @media (max-width: 1023px) and (min-width: 768px){
        .navbar-header{
            float: none;
        }
        .navbar-toggle{
            float: none;
            margin: 0;
            padding: 0;
            display: block;
        }
        .navbar-toggle .icon-bar{
            background: $borderColor;
            height: 10px;
            width: 53px;
        }
        .navbar-collapse.collapse{
            display: none !important;
        }
        .navbar-collapse.in{
            display: block !important;
        }
        .navbar-nav{
            float: none;
            padding-top: 10px;
        }
        .navbar-right{
            float: none !important;
        }
        .navbar-nav > li{
            float: none;
            margin: 0;
            padding: 3px 0;
        }
        .navbar-right,
        .navbar-right.nav > li{
            margin: 0;
            border: none;
        }
        .currency-selector{
            padding-top: 15px;
        }
        .hearder-right{
            width: 450px;
        }


    }
    @media (max-width: 1023px){
        .navigation-area{
            padding:5px 0 0;
        }
        .search-form{
            .form-control{
                text-align: right;
                border-color: transparent;
                height: 40px;
            }
            .btn{
                border-color: transparent;
                height: 40px;
                font-size: 18px;
                border-radius: 0;
            }
        }       
    }
    @media (max-width: 767px){
        .navbar-nav > li{
            float: none;
            margin: 0;
            padding: 3px 0;
        }
        .hearder-right{
            width: 280px;
        }
        .search-form{
            width: 130px;
            float: right;
        }
        .cart-area{
            width: 125px;
        }
        .navbar-toggle{
            float: none;
            margin: 0;
            padding: 0;
        }
        .navbar-toggle .icon-bar{
            background: $borderColor;
            height: 10px;
            width: 53px;
        }
        .navigation-area{
            padding-bottom: 0px;
            padding-top: 0;
        }
        .navbar-nav{
            margin: 0;
        }
        .navbar-right{
            border: none;
        }
        .navbar-right.nav > li{
            margin: 0;
            border: none;
        }
        .navbar-collapse.in{
            overflow: visible;
        }
        .navbar-collapse{
            padding: 10px 0 0;
        }
        .currency-selector{
            padding-top: 15px;
        }
    }
    @media (max-width: 599px){
        .hearder-right{
            float: none;
            width: 100%;
            padding-top: 0;
            &:after{
                content: '';
                clear: both;
                display: block;
            }
        }
        .header-search-form{
            &:before,
            &:after{
                content: '';
                clear: both;
                display: block;
            }

        }
        .cart-section + div{
            &:before{
                display: block;
                content: '';
                clear: both;
            }
        }
        .search-form{
            width: 100%;
            float: none;
            border: 1px solid #BBBDBF;
            margin: 15px 0 0;
            padding: 4px;
        }
    }
    @media (max-width: 479px){
        .logo-section{
            width: 150px;
        }
    }
}

/* Slim Nav/Header */
.slim-nav {
    padding: 10px 0;

    .navbar {
        margin-bottom: 0;
        min-height: inherit;
    }

    .navbar-nav {
        padding-top: 5px;
        padding-bottom: 4px;
    }

    .buttons-area {
        padding-left: 12px;

        .dropdown {
            display: inline-block;
        }

        .dropdown-toggle {
            background: #A6A8AB;
            width: 34px;
            height: 34px;
            display: inline-block;
            line-height: 34px;
            color: #fff;
            text-align: center;
            font-size: 18px;
        }
    }

    .search-form {
        .btn {
            border: 1px solid $borderColor;
            height: 34px;
            padding: 5px 12px 7px;
        }
    }

    .navbar-nav {
        font-size: 16px;
        list-style: none;

        > li {
            margin-right: 12px;
        }
    }

    .navbar-nav > li > a {
        padding: 0;
        color: $textColor;

        &:hover {
            text-decoration: none;
        }
    }

    @media(max-width: 1200px) {
        .navbar-nav {
            font-size: 14px;
            padding-left: 20px;
        }
    }

    @media(max-width: 1023px) {
        .navbar-nav {
            font-size: 16px;
            padding-left: 20px;
        }

        .navbar-toggle {
            display: inline-block;
            float: none;
            vertical-align: top;
            margin: 0;
            padding: 0;
            padding: 3px 0;
            margin-right: 15px;
        }

        .navbar-toggle .icon-bar {
            width: 28px;
            height: 5px;
            background: $textColor;
        }
    }

    @media(max-width: 1023px) and (min-width:768px) {
        .navbar-header {
            float: none;
        }

        .navbar-nav {
            padding: 0;

            > li {
                float: none;

                &.seperator {
                    display: none;
                }
            }
        }

        .navbar-collapse {
            padding: 15px 0 0;
        }

        .navbar-collapse.collapse {
            display: none !important;
        }

        .navbar-collapse.in {
            display: block !important;
        }
    }

    @media(max-width: 767px) {
        .header-right {
            padding-left: 0;
        }

        .navbar-nav {
            font-size: 16px;
            padding-left: 20px;
        }

        .navbar-nav {
            padding: 0;

            > li {
                float: none;

                &.seperator {
                    display: none;
                }
            }
        }
    }

    @media(max-width: 479px) {
        .header-right, .header-left {
            float: none;
            width: auto;
            padding: 5px 15px;
        }
    }
}

.topbar {
    .navbar {
        margin: 0;
        min-height: inherit;
        background: #58595B;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }

    .seperator {
        padding-top: 7px;
        padding-bottom: 10px;
        color: #fff;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-collapse {
        padding: 0;
    }

    .nav .open > a,
    .nav > li.active > a {
        background: #404041;
        color: #fff;
    }

    .nav > li > a {
        text-shadow: none;
        color: #D0D2D3;

        &:focus, &:hover {
            color: #fff;
            background: #404041;
        }
    }

    .navbar-nav {
        margin: 0;
    }


    .header-bottom {
        padding: 10px 0;

        .header-left {
            float: left;
        }

        .header-right {
            float: right;
            width: 900px;
            padding-top: 5px;
        }
    }

    .search-form {
        width: 570px;
        float: left;

        .btn {
            padding: 5px 12px 7px;
            border: 1px solid $borderColor;
        }
    }

    .cart-area {
        > div {
            float: left;
            margin-left: 25px;
        }

        a {
            color: #4C4C4C;
        }

        .dropdown {
            padding: 5px 0;
        }

        .dropdown-toggle {
            font-size: 14px;

            img {
                margin-right: 6px;
            }

            span {
                display: inline-block;
                padding-top: 1px;
            }

            .fa {
                margin-left: 4px;
            }
        }

        .items-qty {
            font-size: 18px;

            img,
            span {
                vertical-align: top;
            }

            span {
                padding-top: 6px;
                display: inline-block;
            }
        }

        .price {
            padding: 9px 0;
            color: $green;
        }
    }

    @media(max-width: 1200px) {
        .header-bottom .header-right {
            width: 700px;
        }

        .search-form {
            width: 390px;
        }
    }

    @media(max-width: 1023px) and (min-width: 768px) {
        .nav > li > a {
            padding: 10px 12px;
        }
    }

    @media(max-width: 1023px) {
        .header-bottom .header-right {
            width: 500px;
        }

        .search-form {
            width: 260px;
        }

        .price {
            display: none;
        }
    }

    @media(max-width: 767px) {
        .navbar-toggle {
            padding: 0;
            margin-left: 15px;
            float: left;
        }

        .navbar-toggle .icon-bar {
            width: 25px;
            height: 5px;
            background: #D0D2D3;
        }

        .seperator {
            display: none;
        }

        .navbar-nav .dropdown-menu > li > a {
            color: #D0D2D3;
        }

        .navbar-nav .open .dropdown-menu > li > a:focus,
        .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-nav .dropdown-menu > li > a:focus,
        .navbar-nav .dropdown-menu > li > a:hover {
            background: #404041;
        }

        .header-bottom .header-right {
            width: auto;
            float: none;
            padding: 0;
        }

        .search-form {
            width: auto;
            float: none;
            margin-left: 213px;
            padding-top: 5px;
            padding-bottom: 10px;
        }

        .cart-area > div {
            margin-left: 0;
            margin-right: 25px;
        }
    }

    @media(max-width: 479px) {
        .header-bottom .header-left {
            float: none;
        }

        .search-form {
            margin: 0;
            padding: 15px 0 10px;
        }
    }
}

/* for searchthumbs page*/
.breadcrumb {
    background: none;
    margin-top: 20px;
    padding: 0;

    > li + li:before {
        content: '>';
        color: inherit;
    }

    @include screen(max, 479px) {
        font-size: 12px;
    }
}


/* products grid */
.products-wrap {
    padding: 20px 0;
    background: $defaultContentBackground;

    .viewmore-products {
        display: inline-block;
        margin-left: 40px;
    }

    .products-section-header {
        margin: 12px 0 23px;

        p {
            margin: 0;
        }
    }

    .btn-toggle {
        background: none;
        padding: 4px 2px;
        border: 1px solid #BBBDBF;
        color: #BBBDBF;
        font-size: 15px;
        height: 25px;
        width: 25px;
        line-height: 1;
    }

    .product {
        background: #fff;
        margin-bottom: 30px;

        .dropdown-menu {
            background-color: $darkgreyColor;
            border-radius: 0;
            opacity: 0.8;
        }

        .dropdown-menu > li > a {
            color: #fff;

            &:hover {
                background-color: $themeColor;
                background-image: none;
            }
        }

		&.pinterest{
			border-radius: 6px;
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
			float:left;
			margin: 14px 7px 0 7px;
			width: 236px;

			.product-thumb{
				img{
					border-radius: 6px 6px 0 0;
				}
			}
		}

		.btn-fav {
			display:none;
			position: absolute;
			top: 8px;
			right: 14px;
			z-index: 101;
			background-clip: padding-box;
			border: 1px solid rgba(0, 0, 0, 0.3);
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
			padding: 4px 8px;
		}
    }

    .product-details {
        font-size: 15px;
        padding: 10px 13px;

        p {
            margin: 0;
        }
		
		.by-line {
			font-size: 14px;
		}
        .price {
            font-size: 24px;
        }
    }

    .product-thumb {
        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }

	.products {
		&.grid{
			.product-details {
				p {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}

    @media (max-width: 1200px) {
        .products {
            margin: 0 -10px;

            > div {
                padding: 0 10px;
            }
        }

        .product {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 1023px) and (min-width: 768px) {
        .product-details {
            font-size: 14px;

			.by-line {
				font-size: 13px;
			}
            .price {
                font-size: 19px;
            }
        }
    }

    @media (max-width: 767px) {
        .products > div {
            width: 100%;
        }
    }
}


.form-control {
    box-shadow: none;
    border: 1px solid #BBBDBF;

    &:focus {
        box-shadow: none;
        border-color: #BBBDBF;
    }
}


.newletter-form {
    .form-control {
        font-size: 18px;
        height: auto;
        border-radius: 0;
    }

    .input-group-btn {
        padding-left: 10px;

        .btn {
            padding: 9px 16px;
            border-radius: 4px;
        }
    }
}


.mi-container{
	padding: 0 20px;
	.col-lg-2{
		padding-right: 4px;
		padding-left: 4px;
	}
}

/* Search Results */
.search-results {
    padding-top: 0;

    h1 {
        @include screen(max, 479px) {
            font-size: 35px;
        }
    }
}

.search-nav-fixed-top {
    z-index: 999;

    &.is_stuck {
        margin-top: 0;
    }
}

.search-nav {
    margin-bottom: 20px;
    margin-top: 20px;

    > div:first-child {
        .dropdown-btn {
            border-right: 1px solid #BBBDBF;

            @include screen(max,767px) {
                border-right: none;
            }
        }

        padding-left: 15px;
    }

    > div:last-child {
        padding-right: 15px;
        border-left: 1px solid #BBBDBF;

        @include screen(max,767px) {
            border-left: none;
        }

        > p {
            background: #ebebeb;
            margin: 0;
            padding: 14px 15px 10px 30px;

            @include screen(max,767px) {
                padding: 14px 15px 10px;
            }
        }

        .sortbtns {
            float: right;
            margin-top: -10px;

            a {
                padding: 2px;
                display: inline-block;
                margin-left: 2px;
            }

            .active {
                background: #f5f5f5;
                border: 1px solid #a6a8ab;
                border-radius: 6px;
            }
        }
    }

    > div {
        padding: 0;

        @include screen(max,767px) {
            padding: 0 15px;
        }

        .dropdown-btn {
            display: block;
            background: #ebebeb;
            padding: 14px 30px 10px;
            color: $textColor;

            @include screen(max,767px) {
                padding: 14px 15px 10px;
            }

            &.active {
                background: #E6E7E8;
            }

            .fa {
                display: inline-block;
                padding: 4px;
                margin-top: -4px;
                border: 1px solid #ccc;
                border-radius: 5px;
                color: #7F7F7F;
                line-height: 1;
                float: right;
            }

            &:hover {
                text-decoration: none;
            }
        }

        .sort-menu {
            width: 100%;
            margin: 0;
            box-shadow: none;
            border-radius: 0;
            padding: 0;
            list-style: none;
            background: #e6e7e8;
            border-bottom: 1px solid #a6a8ab;
            position: absolute;
            z-index: 99;
            left: 0;
            top: 100%;
            display: none;

            @include screen(max, 767px) {
                width: auto;
                left: 15px;
                right: 15px;
            }

            > li > a {
                padding: 7px 30px 6px;
                display: block;
                color: #6D6E70;
                border-top: 1px solid #a6a8ab;
            }

            > li > a:hover,
            > .active > a {
                background: #dddedf;
                text-decoration: none;
            }
        }

        .menu-fullwidth {
            background: #e6e7e8;
            padding-top: 15px;
            padding-bottom: 15px;
            position: absolute;
            z-index: 99;
            left: 15px;
            top: 100%;
            display: none;
            max-width: 1140px;

            @include screen(max,1200px) {
                max-width: 940px;
            }

            @include screen(max,1023px) {
                max-width: 720px;
                font-size: 13px;
            }

            @include screen(max,767px) {
                left: 15px;
                right: 15px;
            }

            input[type="checkbox"], input[type="radio"] {
                margin-right: 10px;

                @include screen(max,1023px) {
                    margin-right: 5px;
                }
            }
        }

        .price-form {
            display: table;
            width: 100%;

            > div {
                display: table-cell;
                padding: 0 2px;
                vertical-align: middle;

                input[type="text"] {
                    padding: 5px 10px;
                    background: #d9d9d9;
                    border: none;
                }

                input {
                    box-sizing: border-box;
                    width: 100%;
                    height: 34px;
                }

                .btn {
                    background: #58595B;
                    border-radius: 0;
                    color: #fff;
                }
            }
        }
    }
}


/* store page styles */
.static-banner {
    background: #fff;
    padding-bottom: 30px;
    /*border-top: 1px solid $borderColor;*/
}

.banner-layout-2 {
    font-size: 14px;
    color: #4C4C4C;
    position: relative;

    .feed-btns {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h1 {
        margin: 0 0 10px;
    }

    p {
        margin-bottom: 20px;
    }

    span {
        color: #989897;
        font-size: 13px;
    }

    .btn-collapse-section {
        padding: 10px 0;
        font-size: 15px;

        a {
            color: #6D6E70;
            display: inline-block;
            margin-right: 40px;

            &.collapse-toggle:before {
                content: 'Close ';
            }

            &.collapsed:before {
                content: 'Expand ';
            }

            .fa {
                margin-left: 20px;
            }

            &.collapsed .fa:before {
                content: "\f107";
            }

            .fa:before {
                content: "\f106";
                font-size: 1.5em;
            }
        }
    }
}

/* Buttons */
.feed-btns {
    .btn-grey {
        margin-left: 6px;
    }
}

.btn-grey {
    background: #E6E7E8;
    color: #716F6F;

    .fa {
        font-size: inherit;
        color: #BBBDBF;
    }
}

.btn-green {
    background: #8AC440;
    color: #fff;

    .fa {
        line-height: inherit;
    }

    &:hover, &:focus {
        color: #fff;
    }
}

.share-this {
    float: right;
    padding-top: 20px;
    font-size: 13px;
    color: #989897;

    .btn {
        margin-left: 10px;
        padding: 3px 4px;
        line-height: 1;
    }
}

/* Store page */
#seller-profile {
    /*background: url(../images/collapse.png) no-repeat center top $themeColor;*/
    font-size: 14px;

    > div:first-child {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .profile-details {
        list-style: none;
        margin: 0;
        padding: 0;

        p, h4 {
            margin: 0;
            padding: 0;
        }

        p {
            color: #fff;
        }

        h4 {
            margin-bottom: 5px;
        }

        small {
            font-size: 13px;
        }

        li {
            padding: 10px 0;

            & ~ li {
                border-top: 1px solid #BBBDBF;
            }
        }
    }

    .thumbs {
        margin-left: -25px;

        a {
            display: block;
            float: left;
            margin-left: 25px;
            margin-bottom: 25px;
        }

        @include screen(max, 767px) {
            margin-left: 0;

            a {
                float: none;
                display: inline-block;
                margin-left: 4px;
                margin-bottom: 7px;
            }
        }
    }
}


#contact-seller {
    > div:first-child {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.theme-text{
    color: $themeColor;
}
.text-red{
    color: #D43032;
}